<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Lato" rel="stylesheet">
</head>

<body>
    <div class="main-content">
        <header class="header">
            <div class="wrapper clearfix">
                <a href="#" class="header-logo">site name</a>
                <nav class="header-menu">
                    <a class="active" href="#">home</a>
                    <a href="#">about</a>
                    <a href="#">services</a>
                    <a href="#">portfolio</a>
                    <a href="#">contact</a>
                </nav>
            </div>
        </header>
        <main class="main">
            <div class="promo-block">
                <div class="wrapper">
                    <span class="promo-block__arrow left_arrow">
                        <i class="fa fa-chevron-left"></i>
                    </span>
                    <span class="promo-block__arrow right_arrow">
                        <i class="fa fa-chevron-right"></i>
                    </span>

                </div>



            </div>
            <div class="grey-block">
                <div class="wrapper">
                    <ul class="grey-block-list clearfix">
                        <li>
                            <div class="ico"><i class="fa fa-rocket" aria-hidden="true"></i></div>
                            <aside class="grey-text">
                                <h3>Aliquam tincidunt</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                    in voluptate velit esse cillum dolore eu fugiat nulla pariatur.<a href="#">=>more</a></p>
                            </aside>
                        </li>
                        <li>
                            <div class="ico"><i class="fa fa-shield" aria-hidden="true"></i></div>
                            <aside class="grey-text">
                                <h3>Cras ornare tristiqu</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                    in voluptate velit esse cillum dolore eu fugiat nulla pariatur.<a href="#">=>more</a></p>
                            </aside>
                        </li>
                        <li>
                            <div class="ico"><i class="fa fa-fire-extinguisher" aria-hidden="true"></i></div>
                            <aside class="grey-text">
                                <h3>Vivamus vestibulum</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                    in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <a href="#">=>more</a></p>
                            </aside>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="news-block">
                <div class="wrapper">
                    <div class="news-content">
                    <h3>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor<br> sit amet orci. Aenean dignissim pellentesque
                        felis</h3>
                    <h4>Civamus vestibulum nulla nec ante</h4>
                    </div>
                    <div class="news-img clearfix"><img src="img/bird.jpg" alt="bird"></div>
                </div>
            </div>
        </main>
    </div>
    <footer>
        <div class="wrapper">
            <nav class="footer-menu">
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Services</a>
                <a href="#">Portfolio</a>
                <a href="#">Contact</a>
            </nav>
        </div>

    </footer>
</body>

</html>