<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Lato" rel="stylesheet">
</head>

<body>
    <div class="main-content">
        <header class="header">
            <div class="wrapper clearfix">
                <a href="#" class="header-logo">site name</a>
                <nav class="header-menu">
                    <a class="active" href="#">home</a>
                    <a href="#">about</a>
                    <a href="#">services</a>
                    <a href="#">portfolio</a>
                    <a href="#">contact</a>
                </nav>
            </div>
        </header>
        <main class="main">
            <div class="promo-block">
                <div class="wrapper">
                    <span class="promo-block__arrow left_arrow">
                        <i class="fa fa-chevron-left"></i>
                    </span>
                    <span class="promo-block__arrow right_arrow">
                        <i class="fa fa-chevron-right"></i>
                    </span>
                    <h2>clivuam tinc
                        <hr size=2px width=250px color=#ffffff align="center"><br>nunc dignissim risus id metus</h2>
                    <a href="#">http://wallpaperswide.com/</a>
                </div>
            </div>
            <div class="grey-block">
                <div class="wrapper">
                    <ul class="grey-block-list clearfix">
                        <li>
                            <div class="ico"><i class="fa fa-rocket" aria-hidden="true"></i></div>
                            <aside class="grey-text">
                                <h3>Aliquam tincidunt</h3>
                                <p>Donec nec justo eget felis facilisis fermen-tum. Aliquam porttitor mauris sit amet orci.
                                    Aenean dignissim pellentesq<a href="#">=>more</a></p>
                            </aside>
                        </li>
                        <li>
                            <div class="ico"><i class="fa fa-shield" aria-hidden="true"></i></div>
                            <aside class="grey-text">
                                <h3>Cras ornare tristiqu</h3>
                                <p>Jonec nec justo eget felis facilisis fermen-tum. Aliquam porttitor mauris sit amet orci.
                                    Aenean dignissim pellentesq<a href="#">=>more</a></p>
                            </aside>
                        </li>
                        <li>
                            <div class="ico"><i class="fa fa-fire-extinguisher" aria-hidden="true"></i></div>
                            <aside class="grey-text">
                                <h3>Vivamus vestibulum</h3>
                                <p>Conec nec justo eget felis facilisis fermen-tum. Aliquam porttitor mauris sit amet orci.
                                    Aenean dignissim pellentesq<a href="#">=>more</a></p>
                            </aside>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="news-block">
                <div class="wrapper">
                    <div class="news-content">
                        <h3>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor<br> sit amet orci. Aenean dignissim
                            pellentesque felis
                        </h3>
                        <h4>Civamus vestibulum nulla nec ante</h4>
                        <ul class="basic-info">
                            <li>
                                <article class="basic-news">
                                    <h4>Sed egestas anteet </h4>
                                    <p>Eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus
                                        adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit
                                        tortor. Ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl.</p>
                                    <button class="botton">more</button>
                            </li>
                            <li>
                                <article class="basic-news">
                                    <h4>Aenean egestas anteet</h4>
                                    <p>Eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus
                                        adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit
                                        tortor. Ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl.</p>
                                    <botton class="botton">more</botton>
                            </li>
                        </ul>
                    </div>
                    <div class="news-img clearfix"><img src="img/bird.jpg" alt="bird"></div>
                </div>
            </div>
            <div class="red-block">
                <div class="wrapper">
                    <div class="user-form">
                        <div>
                            <div class="ico"><i class="fa fa-user" aria-hidden="true"></i></div>
                            <h3>donec nec justo eget</h3>
                            <p>"Ede semper est, vitae luctus metus libero eu augue. Morb sipo <br>ipiscing, commodo quis, gravida
                                ..."<em>- Kohn Doe / company name</em></p>
                        </div>
                        <form class="for-user">
                            <h3>morbi vitae luctus</h3>
                            <input type="email" name="login" placeholder="enter your email id here ...">
                            <botton class="botton">subscribe &#8594;</botton>
                        </form>
                    </div>
                </div>
            </div>
            <div class="contact-block">
                <div class="wrapper">
                    <div class="forum">
                        <h3>Aliquam tincidunt</h3>
                        <ul>
                            <li class="girl clearfix">
                                <div class="icon"></div>
                                <p>Donec nec justo eget felis facilisis fermen-<br>tum. Aliquam porttitor</p>
                                <a href="#">=>more</a>
                            </li>
                            <li class="cage clearfix">
                                <div class="icon"></div>
                                <p>Donec nec justo eget felis facilisis fermen-<br>tum. Aliquam porttitor</p>
                                <a href="#">=>more</a>
                            </li>
                            <li class="bird">
                                <div class="icon"></div>
                                <p>Donec nec justo eget felis facilisis fermen-<br>tum. Aliquam porttitor</p>
                                <a href="#">=>more</a>
                            </li>
                        </ul>
                    </div>
                    <div class="mail-block">
                        <h3>Nunc dignissim risu</h3>
                        <div class="grey-form">
                            <form>
                                <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus liber</p>
                                <input type="text" size="40" placeholder="name...">
                                <input type="email" placeholder="email...">
                                <textarea name="comment" cols="40" rows="3" placeholder="your query..."></textarea>
                                <botton class="botton">send &#8594;</botton>
                            </form>
                        </div>
                    </div>
                    <div class="contact-inform">
                        <h3>aliquam tincidunt</h3>
                        <ul>
                            <li class="address">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <h4>Address</h4>
                                <p>some block, steet number, city name, country
                                </p>
                            </li>
                            <li class="phone">
                                <i class="fa fa-phone-square" aria-hidden="true"></i>
                                <h4>Phone</h4>
                                <a href="#">(000)777 777 7777</a>
                                <a href="#">(000)888 888 8888</a>
                            </li>
                            <li class="mail">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <h4>Email us</h4>
                                <a href="#">info@siteneme.com</a>
                                <a href="#">sales@sitename.com</a>
                                <a href="#">company@sitename.com</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
    </div>
    </main>
    </div>
    <footer>
        <div class="wrapper">
            <div class="footer-content clearfix">
                <nav class="footer-menu">
                    <a href="#">Home</a>
                    <a href="#">About</a>
                    <a href="#">Services</a>
                    <a href="#">Portfolio</a>
                    <a href="#">Contact</a>
                </nav>
                <p>Designed by:<a href="www.alltemplateneeds.com">www.alltemplateneeds.com</a>/<span>Images from:<a href="www.wallpaperswide.com"> www.wallpaperswide.com</a> / Copyright(c) website name. </span></p>
            </div>
            <div class="social-net">
                <div class="right">

                    <div class="ico"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                    <div class="ico"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                    <div class="ico"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                </div>
            </div>


        </div>

    </footer>
</body>

</html>