html {
    height: 100%;
}

body {
    min-height: 100%;
    height: auto;
    position: relative;
    line-height: 1;
    font-family: Arial;
}

.wrapper {
    width: 796px;
    margin: 0 auto;
    }

header {
    background: #cccccc;
}

h1,
h2 {
    margin: 0;
    text-transform: uppercase;
    color: #707070;
  }

.header-content {
    padding: 10px;
    border: 2px solid #383838;
}

header .logo {
    float: left;
    margin-right: 5px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

header nav {
    background: #383838;
    height: 30px;
    font-size: 14px;
}

header a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    line-height: 30px;
    padding: 0 16px;
    box-sizing: border-box;
    font-size: 14px;
}

header a:hover {
    background: #ffffff;
    color: #383838;
}

.container {
    padding-bottom: 30px;
}

main {
    margin-top: 10px;
}

.content {
    background: #cccccc;
    overflow: hidden;
}

.sidebar {
    width: 224px;
    float: left;
    background: #cccccc;
}

.sidebar nav {
    background: #383838;
    margin: 12px;
}

.sidebar nav a {
    display: block;
    height: 35px;
    text-decoration: none;
    color: #ffffff;
    line-height: 35px;
    text-align: center;
}

article {
    background: #ffffff;
    box-sizing: border-box;
    padding: 0 10px;
    width: 572px;
    float: left;
}

.sidebar nav a:hover {
    text-decoration: underline;
    background: #ffffff;
    color: #383838;
}

footer {
    display: block;
    background: #383838;
    position: absolute;
    bottom: 0;
    height: 20px;
    width: 796px;
}